<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722010426083-ho9f04rcf3iv1s1roqoigjmhuo73j3l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722010426083-ho9f04rcf3iv1s1roqoigjmhuo73j3l8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722010426083-cv961vh7p0tr3honui064rbhere07763.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZmP7hyQzGwGzOkWMS6IV_zoputSw7Pvw</string>
	<key>GCM_SENDER_ID</key>
	<string>722010426083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naja7.sporti.sporti</string>
	<key>PROJECT_ID</key>
	<string>sporti-db69e</string>
	<key>STORAGE_BUCKET</key>
	<string>sporti-db69e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722010426083:ios:f67de42d81a2e91d4ad3d6</string>
</dict>
</plist>